@model IEnumerable<AttendeeApp.Web.Models.Attendee>

@{
    ViewBag.Title = "Attendees";
}

<h2>Attendees</h2>
<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { attendeeid = item.AttendeeId }) |
                @Html.ActionLink("Details", "Details", new { attendeeid = item.AttendeeId }) |
                @Html.ActionLink("Delete", "Delete", new { attendeeid = item.AttendeeId })
            </td>
        </tr>
    }

</table>